model:
  coils: 10
  num_heads: [3, 6, 12, 24]
  window_size: [8, 32, 32]
  depths: [2, 2, 18, 2]
  patch_size: [4, 4, 4]
  embed_dim: 96
  mlp_ratio: 4.0
  qkv_bias: true
  qk_scale: null
  drop: 0.0
  attn_drop: 0.0
  drop_path: 0.0
  norm_layer: nn.LayerNorm
  n_SC: 1
  num_recurrent: 25
  sens_chans: 8
  sens_steps: 4
  scale: 0.1

data:
  model_path: '~scratch/CMR-Reconstruction/pretrained_models/_model_name_'
  input_dir: '~scratch/CMR-Reconstruction/datasets/CMR_2024/'
  output_dir: '~scratch/CMR-Reconstruction/outputs'
  center_crop: true       # calls the run4ranking script for the cmrxrecon2024 challenge
  evaluate_set: 'ValidationSet'
  batch_size: 1
  num_workers: 2
  max_img_size: [25, 256, 512]
